@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin:0;
    padding:0;  
    background: #888;
    font-family: 'Roboto', sans-serif;
}

#create-room-container{
    display: none;
}

/*#region Desktop*/

/*#region Mobile*/
@media(max-width:500px){

    

    /*#region Home Page*/
    #rooms{
        position: relative;
        list-style-type: none;
        text-align: center;
        top: 0;
        height: 84vh;
        width: 100%;
        overflow: auto;
    }

    #rooms li:nth-child(even){
        background: #777;
    }

    #rooms li{
        border-bottom: 1px solid black;
        padding: 1.75rem;
        font-size: 2rem;
        overflow: hidden;
    }

    #btn_createRoom{
        position: fixed;
        height: 16%;
        width: 90%;
        left: 5%;
        bottom: 2%;
        font-size: 2rem;
    }

    /*#endregion*/

    /*#region Create a room*/
    #create-room-container{
        position: fixed;
        display: flex;
        flex-direction: column;
        background: #333;
        width: 90%;
        height: 60vh;
        top: 10%;
        border-radius: 15px;
        left: 4%;
        z-index: 1;
        background: rgba(71, 71, 71);
        font-size: 1.2rem;
        overflow: hidden;
    }

    input{
        margin-top: 0.4rem;
    }

    #name, #time, #password{
        position: absolute;
        background: none;
        margin-bottom: 3rem;
        left: 10%;
    }

    #name{
        top: 10%;
    }

    #name input, #password input{
        width: 30%;
    }

    #time{
        display: flex;
        top:30%;
    }

    #password{
        display: flex;
        top:50%;
    }

    #input_roomName, #input_roomPassword{
        height: 1.2rem;
    }

    #cbox_hasPassword{
        margin-top: 0.7rem;
        margin-right: -1rem;
        margin-left: -0.5rem;
    }

    #time div{
        background: none;
        margin-right: 1.5rem;
        font-size: 1rem;
    }

    #time label{
        background: none;
    }

    #label-time, #label-name, #label-password{
        background: none;
        border-radius: 5px;
        padding: 5px 5px;
        margin-right: 1rem;
    }

    #container-cancel-create{
        background: 0;
        margin-top: 19rem;
    }
    
    #container-cancel-create .button{
        padding: 15px 25px;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.4rem;
    }
    
    /*#endregion*/

    .button{
        border: 1px solid rgba(43, 43, 43, 0.336);
        border-radius: 10px;
        background-color: rgb(100, 100, 100);
    }
}
/*#endregion*/